ServiciosScspParent 1/ServiciosScspParent/ServiciosScsp_RP/SOAP/SCSP/ServiciosScsp/v1.2.1/wsdls/Licencias_v01r00.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://intermediacion.redsara.es/scsp/esquemas/V3/licencias" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://intermediacion.redsara.es/scsp/esquemas/V3/licencias" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/V3/licencias">
  <wsdl:types>
    <xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/V3/licencias" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/V3/licencias">

	<xs:element name="getLicenciasRequest">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Peticion"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="getLicenciasResponse">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Respuesta"/>
			</xs:all>
		</xs:complexType>
	</xs:element>



	<xs:element name="Apellido1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Apellido2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Atributos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdPeticion"/>
				<xs:element ref="NumElementos"/>
				<xs:element ref="TimeStamp"/>
				<xs:element minOccurs="0" ref="Estado"/>
				<xs:element ref="CodigoCertificado"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="CodigoCertificado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Consentimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Si"/>
				<xs:enumeration value="Ley"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="DatosGenericos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Emisor"/>
				<xs:element ref="Solicitante"/>
				<xs:element ref="Titular"/>
				<xs:element ref="Transmision"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Documentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Emisor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NifEmisor"/>
				<xs:element ref="NombreEmisor"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element minOccurs="0" ref="CodigoEstado"/>
				<xs:element minOccurs="0" ref="CodigoEstadoSecundario"/>
				<xs:element minOccurs="0" ref="LiteralError"/>
				<xs:element minOccurs="0" ref="TiempoEstimadoRespuesta"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="FechaGeneracion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Finalidad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="UnidadTramitadora">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CodProcedimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreProcedimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="IdExpediente">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="25"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Funcionario">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="NombreCompletoFuncionario"/>
				<xs:element minOccurs="0" ref="NifFuncionario"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Procedimiento">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="CodProcedimiento"/>
				<xs:element minOccurs="0" ref="NombreProcedimiento"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="IdentificadorSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="IdPeticion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="26"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IdSolicitud">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="IdTransmision">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NifEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NifFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreCompleto">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreCompletoFuncionario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="122"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreEmisor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreSolicitante">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NumElementos">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minExclusive value="0"/>
				<xs:maxInclusive value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Peticion">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Atributos"/>
				<xs:element ref="Solicitudes"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Solicitante">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IdentificadorSolicitante"/>
				<xs:element ref="NombreSolicitante"/>
				<xs:element minOccurs="0" ref="UnidadTramitadora"/>
				<xs:element minOccurs="0" ref="Procedimiento"/>
				<xs:element ref="Finalidad"/>
				<xs:element ref="Consentimiento"/>
				<xs:element minOccurs="0" ref="Funcionario"/>
				<xs:element minOccurs="0" ref="IdExpediente"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Solicitudes">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" ref="SolicitudTransmision"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="SolicitudTransmision">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenericos"/>
				<xs:element minOccurs="0" ref="DatosEspecificos"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="TiempoEstimadoRespuesta">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:totalDigits value="4"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="TimeStamp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="TipoDocumentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NIF"/>
				<xs:enumeration value="NIE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Titular">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TipoDocumentacion"/>
				<xs:element ref="Documentacion"/>
				<xs:element minOccurs="0" ref="NombreCompleto"/>
				<xs:element minOccurs="0" ref="Nombre"/>
				<xs:element minOccurs="0" ref="Apellido1"/>
				<xs:element minOccurs="0" ref="Apellido2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Transmision">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoCertificado"/>
				<xs:element ref="IdSolicitud"/>
				<xs:element minOccurs="0" ref="IdTransmision"/>
				<xs:element minOccurs="0" ref="FechaGeneracion"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransmisionDatos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenericos"/>
				<xs:element ref="DatosEspecificos"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<!-- Las transmisiones son opcionales en caso de devolver en la respuesta 
		un nuevo TER. -->
	<xs:element name="Transmisiones" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" ref="TransmisionDatos"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Respuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Atributos"/>
				<xs:element minOccurs="0" ref="Transmisiones"/>
				<!-- Las transmisiones son opcionales en caso de que la repuesta no este 
					preparada y se devuelva un TER -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Nir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="TipoLicencia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoLicencia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DescripcionLicencia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="EstadoLicencia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FechaExpedicion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FechaInicioVigencia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FechaFinVigencia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="CifEntidadAseguradora">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreEntidadAseguradora">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Poliza">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NumeroCarnet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="FechaEmisionCarnet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaExpedicionCarnet">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="29"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Licencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Nir"/>
				<xs:element minOccurs="0" ref="TipoLicencia"/>
				<xs:element ref="CodigoLicencia"/>
				<xs:element ref="DescripcionLicencia"/>
				<xs:element ref="EstadoLicencia"/>
				<xs:element ref="FechaExpedicion"/>
				<xs:element ref="FechaInicioVigencia"/>
				<xs:element ref="FechaFinVigencia"/>
				<xs:element ref="CifEntidadAseguradora"/>
				<xs:element ref="NombreEntidadAseguradora"/>
				<xs:element ref="Poliza"/>
				<xs:element ref="NumeroCarnet"/>
				<xs:element ref="FechaEmisionCarnet"/>
				<xs:element ref="FechaExpedicionCarnet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="Identificador">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="NombreTitular">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellido1Titular">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Apellido2Titular">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
		<xs:element name="DatosPersonales">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Identificador"/>
				<xs:element ref="NombreTitular"/>
				<xs:element ref="Apellido1Titular"/>
				<xs:element minOccurs="0" ref="Apellido2Titular"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Licencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="Licencia"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:sequence>
			    <xs:element ref="DatosPersonales"/>
				<xs:element ref="Licencias"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getLicenciasResponse">
    <wsdl:part element="tns:getLicenciasResponse" name="getLicenciasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLicenciasRequest">
    <wsdl:part element="tns:getLicenciasRequest" name="getLicenciasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConsultaPort">
    <wsdl:operation name="getLicencias">
      <wsdl:input message="tns:getLicenciasRequest" name="getLicenciasRequest">
    </wsdl:input>
      <wsdl:output message="tns:getLicenciasResponse" name="getLicenciasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaPortSoap11" type="tns:ConsultaPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLicencias">
      <soap:operation soapAction=""/>
      <wsdl:input name="getLicenciasRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLicenciasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaPortService">
    <wsdl:port binding="tns:ConsultaPortSoap11" name="ConsultaPortSoap11">
      <soap:address location="http://www.cma.junta-andalucia.es:80/medioambiente/licenciascazaws-scsp/soapws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>